* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: box1;
  src: url(../../fonts/Spartan-ExtraBold.ttf);
}

@font-face {
  font-family: box2;
  src: url(../../fonts/Montserrat-ExtraBold.otf);
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#82d7ff), to(#0099ff));
  background-image: linear-gradient(#82d7ff, #0099ff);
}

a {
  text-decoration: none;
  outline: none;
}

.ult-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 497px;
  width: 294px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide-in {
  -webkit-animation: slide-in 0.6s ease;
          animation: slide-in 0.6s ease;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  90% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  90% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.slide-main {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.slide {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 294px;
  height: 497px;
}

.drop {
  -webkit-animation: drop 0.1s ease-out;
          animation: drop 0.1s ease-out;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.settings {
  margin: auto;
  width: 50px;
  height: 50px;
  background-image: url(../../Images/setting-icon_0001_Ellipse-1-copy-4.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 3%;
}

.settings-div {
  margin: auto;
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cbf0ff), color-stop(#cbf0ff), to(#cbdaff));
  background-image: linear-gradient(#cbf0ff, #cbf0ff, #cbdaff);
  border-radius: 100px;
  border: 3px white solid;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  display: none;
}

.settings-div div {
  margin: auto;
  width: 35px;
  height: 35px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  border: 3px solid purple;
}

.music {
  background-image: url(../../Images/sound-icons_0002_Ellipse-1-copy.png);
  background-size: 50%;
}

.sfx {
  background-image: url(../../Images/sound-icons_0003_Ellipse-1.png);
  background-size: 50%;
}

.vibration {
  background-image: url(../../Images/sound-icons_0004_Rectangle-1.png);
  background-size: 65%;
}

.help {
  margin: auto;
  width: 35px;
  height: 35px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid purple;
}

.help p {
  margin: auto;
  font-family: box2;
  font-size: 18pt;
  color: purple;
}

.content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  height: 497px;
}

.cont-main {
  margin: auto;
}

.art {
  margin: auto;
  background-image: url(../../Images/UPWORD-LOGO.png);
  margin-bottom: 0px;
  width: 294px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
}

.play-with {
  margin: auto;
  width: 100%;
  margin-top: 0px;
}

.solo,
.mayo {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.178);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.178);
  opacity: 0;
}

.solo {
  width: 180px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d5ffc2), color-stop(#83ff4a), color-stop(#81d61f), to(#63ff25));
  background-image: linear-gradient(#d5ffc2, #83ff4a, #81d61f, #63ff25);
  border: 2px rgba(50, 126, 0, 0.7) solid;
}

.solo p {
  margin: auto;
  font-family: box1;
  font-weight: bolder;
  font-size: 14pt;
  color: white;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
}

.mayo {
  width: 150px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc55a), color-stop(#ff9102), color-stop(#ffa600), to(#ffd000));
  background-image: linear-gradient(#ffc55a, #ff9102, #ffa600, #ffd000);
  border: 2px rgba(255, 41, 41, 0.7) solid;
}

.mayo p {
  margin: auto;
  font-family: box1;
  font-weight: bolder;
  font-size: 14pt;
  color: white;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
}

.pop {
  opacity: 1;
  -webkit-animation: pop 0.8s ease;
          animation: pop 0.8s ease;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.shake {
  -webkit-animation: shake 0.2s ease;
          animation: shake 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .settings {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  @-webkit-keyframes slide-in {
    0% {
      -webkit-transform: translateX(130%) scale(1.7);
              transform: translateX(130%) scale(1.7);
    }
    50% {
      -webkit-transform: translateX(-50%) scale(1.7);
              transform: translateX(-50%) scale(1.7);
    }
    90% {
      -webkit-transform: translateX(10%) scale(1.7);
              transform: translateX(10%) scale(1.7);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.7);
              transform: translateX(0%) scale(1.7);
    }
  }
  @keyframes slide-in {
    0% {
      -webkit-transform: translateX(130%) scale(1.7);
              transform: translateX(130%) scale(1.7);
    }
    50% {
      -webkit-transform: translateX(-50%) scale(1.7);
              transform: translateX(-50%) scale(1.7);
    }
    90% {
      -webkit-transform: translateX(10%) scale(1.7);
              transform: translateX(10%) scale(1.7);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.7);
              transform: translateX(0%) scale(1.7);
    }
  }
}

@media screen and (max-width: 800px) {
  .settings {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  @-webkit-keyframes slide-in {
    0% {
      -webkit-transform: translateX(130%) scale(1.1);
              transform: translateX(130%) scale(1.1);
    }
    50% {
      -webkit-transform: translateX(-50%) scale(1.1);
              transform: translateX(-50%) scale(1.1);
    }
    90% {
      -webkit-transform: translateX(10%) scale(1.1);
              transform: translateX(10%) scale(1.1);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.1);
              transform: translateX(0%) scale(1.1);
    }
  }
  @keyframes slide-in {
    0% {
      -webkit-transform: translateX(130%) scale(1.1);
              transform: translateX(130%) scale(1.1);
    }
    50% {
      -webkit-transform: translateX(-50%) scale(1.1);
              transform: translateX(-50%) scale(1.1);
    }
    90% {
      -webkit-transform: translateX(10%) scale(1.1);
              transform: translateX(10%) scale(1.1);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.1);
              transform: translateX(0%) scale(1.1);
    }
  }
}

@media screen and (max-width: 500px) {
  .settings {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  @-webkit-keyframes slide-in {
    0% {
      -webkit-transform: translateX(130%) scale(0.9);
              transform: translateX(130%) scale(0.9);
    }
    50% {
      -webkit-transform: translateX(-50%) scale(0.9);
              transform: translateX(-50%) scale(0.9);
    }
    90% {
      -webkit-transform: translateX(10%) scale(0.9);
              transform: translateX(10%) scale(0.9);
    }
    100% {
      -webkit-transform: translateX(0%) scale(0.9);
              transform: translateX(0%) scale(0.9);
    }
  }
  @keyframes slide-in {
    0% {
      -webkit-transform: translateX(130%) scale(0.9);
              transform: translateX(130%) scale(0.9);
    }
    50% {
      -webkit-transform: translateX(-50%) scale(0.9);
              transform: translateX(-50%) scale(0.9);
    }
    90% {
      -webkit-transform: translateX(10%) scale(0.9);
              transform: translateX(10%) scale(0.9);
    }
    100% {
      -webkit-transform: translateX(0%) scale(0.9);
              transform: translateX(0%) scale(0.9);
    }
  }
}
/*# sourceMappingURL=home.css.map */