* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: box1;
  src: url(../../fonts/Spartan-ExtraBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: box2;
  src: url(../../fonts/Montserrat-ExtraBold.otf);
  font-display: swap;
}
.copyright{
  margin: 0px auto;
  margin-bottom: 15px;
  font-size: 9pt;
  color: rgb(50, 69, 109);
}
body {
  background-image: linear-gradient(rgb(130, 215, 255), rgb(0, 153, 255));
}

a {
  text-decoration: none;
  outline: none;
}

.ult-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main {
  margin: auto;
  display: flex;
  height: 497px;
  width: 294px;
  flex-direction: column;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.slide-in {
  animation: slide-in 0.6s ease;
}

@keyframes slide-in {
  0% {
    transform: translateX(130%);
  }

  50% {
    transform: translateX(-50%);
  }

  90% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

.nav {
  display: flex;
  height: 12vh;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.slide-main {
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.slide {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 497px;
}

.drop {
  animation: drop 0.1s ease-out;
}

@keyframes drop {
  0% {
    transform: translateY(-10vh);
  }

  100% {
    transform: translateY(0px);
  }
}

.settings {
  margin: auto;
  width: 50px;
  height: 50px;
  background-image: url(../../Images/setting-icon_0001_Ellipse-1-copy-4.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 3%;
}

.settings-div {
  margin: auto;
  margin-top: -5px;
  display: flex;
  width: 250px;
  padding: 10px;
  background-image: linear-gradient(
    rgb(203, 240, 255),
    rgb(203, 240, 255),
    rgb(203, 218, 255)
  );
  border-radius: 100px;
  border: 3px white solid;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  display: none;

  div {
    margin: auto;
    width: 35px;
    height: 35px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 3px solid purple;
  }
}

.music {
  background-image: url(../../Images/sound-icons_0002_Ellipse-1-copy.png);
  background-size: 50%;
}

.sfx {
  background-image: url(../../Images/sound-icons_0003_Ellipse-1.png);
  background-size: 50%;
}

.vibration {
  background-image: url(../../Images/sound-icons_0004_Rectangle-1.png);
  background-size: 65%;
}

.help {
  margin: auto;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid purple;

  p {
    margin: auto;
    font-family: box2;
    font-size: 18pt;
    color: purple;
  }
}

.content {
  margin: auto;
  display: flex;
  width: 294px;
  height: 497px;
}

.cont-main {
  margin: auto;
}

.art {
  margin: auto;
  background-image: url(../../Images/UPWORD-LOGO.png);
  margin-bottom: 0px;
  width: 294px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
}

.play-with {
  margin: auto;
  width: 100%;
  margin-top: 0px;
}

.solo,
.mayo {
  margin: auto;
  display: flex;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.178);
  opacity: 0;
}

.solo {
  width: 180px;
  height: 50px;
  background-image: linear-gradient(
    rgb(213, 255, 194),
    rgb(131, 255, 74),
    rgb(129, 214, 31),
    (rgb(99, 255, 37))
  );
  border: 2px rgba(50, 126, 0, 0.7) solid;

  p {
    margin: auto;
    font-family: box1;
    font-weight: bolder;
    font-size: 14pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
  }
}

.mayo {
  width: 150px;
  height: 50px;
  background-image: linear-gradient(
    (rgb(255, 197, 90)),
    (rgb(255, 145, 2)),
    (rgb(255, 166, 0)),
    (rgb(255, 208, 0))
  );
  border: 2px rgba(255, 41, 41, 0.7) solid;

  p {
    margin: auto;
    font-family: box1;
    font-weight: bolder;
    font-size: 14pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
  }
}

.pop {
  opacity: 1;
  animation: pop 0.8s ease;
}

@keyframes shake {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.shake {
  animation: shake 0.2s ease;
}

//////////////////////////////////////////
//re=

@media screen and (max-width: 1024px) {
  .settings {
    transform: scale(1.7);
  }

  @keyframes slide-in {
    0% {
      transform: translateX(130%) scale(1.7);
    }

    50% {
      transform: translateX(-50%) scale(1.7);
    }

    90% {
      transform: translateX(10%) scale(1.7);
    }

    100% {
      transform: translateX(0%) scale(1.7);
    }
  }
}

@media screen and (max-width: 800px) {
  .settings {
    transform: scale(1.1);
  }

  @keyframes slide-in {
    0% {
      transform: translateX(130%) scale(1.1);
    }

    50% {
      transform: translateX(-50%) scale(1.1);
    }

    90% {
      transform: translateX(10%) scale(1.1);
    }

    100% {
      transform: translateX(0%) scale(1.1);
    }
  }
}

@media screen and (max-width: 500px) {
  .settings {
    transform: scale(0.9);
  }

  @keyframes slide-in {
    0% {
      transform: translateX(130%) scale(0.9);
    }

    50% {
      transform: translateX(-50%) scale(0.9);
    }

    90% {
      transform: translateX(10%) scale(0.9);
    }

    100% {
      transform: translateX(0%) scale(0.9);
    }
  }
}
